body {

    background-image: url(../image/bull.png);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    width: 100%;
            height: 100%;
            max-height: 100%;
            margin: 0;
            padding: 0;
            
            background-size:85em 45em;
            background-repeat: no-repeat;
   

}
.in{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="10" y="19" style="font: bold 14px Arial;">+91:</text></svg>') no-repeat;
}

#sqre {
    height: 3.5em;
    width: 10em;
    background-color: #20c20e;
    position: absolute;
    z-index: -1;
    border-radius: .3em;
    box-shadow: -0.3em -0.3em 1em -0.3em #20c20e, -0.3em 0.3em 1em -0.3em #00b300, 0.3em 0.3em 1em -0.3em #00b300, 0.3em -0.3em 1em -0.3em #00b300;
}

#cir1 {
    height: 3em;
    width: 3em;
    border-radius: 3em;
    background-color: black;
    position: relative;
    z-index: 1;
    margin-top: 0.27em;
    margin-left: 12.4em;
    /*box-shadow: -0.3em 0.2em  1em -0.3em #00b300,-.3em -0.2em 1em -0.3em #00b300;*/
}

#cir2 {
    height: 2.5em;
    width: 2.5em;
    border-radius: 3em;
    background-color: #20c20e;
    position: relative;
    z-index: 2;
    margin-top: -2.8em;
    margin-left: 12.8em;
    box-shadow: 0.3em 0.01em .9em 0.1em #20c20e;
}


.height {
    padding: 0 4em;
}

.in {
    border: 0;
    text-decoration: none;
    background-color: #20c20e;
    width: 18em;
    height: 2em;
    outline: none;
    margin-left: -4em;
    margin-top: 1em;
    position: absolute;
    border-radius: 0.5em;
    color: black;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    outline:none;
}

input[type=number] {
   -moz-appearance: textfield;
}
::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

.fa-angle-double-right {
    color: black;
    margin: 0.15em .25em;
}

.submit {
    position: absolute;
    margin: 0.5em .5em;
	padding : .4em .7em;
    background-color: transparent;

    outline: none;
    border: none;
}

.submit:hover {
    cursor: pointer;
}

.mainbox {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

@media (max-width:499px) {
   
    .mainbox {
        position: absolute;
        top: 50%;
        left: 13%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.footer h2 {
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    -moz-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
}


@-webkit-keyframes neon4 {
    from {
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #20c20e, 0 0 70px #20c20e, 0 0 80px #20c20e, 0 0 100px #20c20e, 0 0 150px #20c20e;
    }
    to {
        text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #20c20e, 0 0 35px #20c20e, 0 0 40px #20c20e, 0 0 50px #20c20e, 0 0 75px #20c20e;
    }
}
